body{
        margin:0px;
        font-family: sans-serif;
        font-size: 16px;
}

h1, h2, h3, h4, h5, h6, p{
        margin:0;
}

.section-header{
        font-size: 2.3em;
        font-weight: 10;
        margin-top: 7vh;
        margin-bottom: 8vh;
        color: #2857a4;
        font-family: sans-serif;
        text-align: center;
}

.exp-container{
        /*border: 2px dashed grey;*/
        width: 60%;
        height: auto;
        position: relative;
        left: 15%;
}

.exp-timeline-box{
        /*Edit and try responsiviteness*/
        /*height: 170px;*/
        width: 30vw;
        /*border: 2px solid red;*/
        margin-bottom: 5vh;
        position: relative;
}

.exp-header{
        /*border: 2px solid green;*/

        width: 100%;
        height: auto;
        display: flex;
        flex-direction: row;   
        justify-content: space-between;    
}

.exp-logo{
        /*border:2px solid black;*/
        height: 90%;
        width: 12%;
        margin-left: 10px;
}

.exp-logo img{
        width: 100%;
        height: 100%;
}

.exp-degination{
        /*border: 2px solid pink;*/
        height: auto;
        width: 60%;
        font-size: 1em;
        color: #2857a4;
        text-align: right;
        padding: 3%;
        padding-right: 0;
}

.exp-company{
        /*border: 2px solid black;*/
        text-align:right;
        font-size: 1.04em;
        /*margin-top: 3px;*/
}
.exp-company h3{
         color:#eb822d;
}

.exp-company-margin{
        margin-top: -5%
}

.exp-company h3{
        font-weight: 100;
}

.exp-time{
        /*border: 2px solid black;*/
        text-align: right;
        font-size: 0.948em;
        color: grey;
        margin-top: 1%;
}

.exp-time h4{
        font-weight: 100;
}

.exp-details{
        /*border: 2px solid black;*/
        margin:0;
        color: grey;
        line-height: 20px;
        font-size: 0.86em;
        color: grey;
        margin-top: 2%;
}

.exp-smaller-img{
        width: 150% !important;
}

.exp-timeline-box:nth-child(even) {
        left: 65%;
}

.exp-timeline-box:nth-child(even):before{
        content: '';
        position: absolute;
        left: -15.45%;
        top: 32%;

        width: 0.9em;
        height: 0.9em;
        background-color: lightgrey;
        border-radius: 50%;
        z-index: 1;
}

.exp-timeline-box:nth-child(odd):after{
        content: '';
        position: absolute;
        right: -16.5%;
        top: 30%;

        width: 0.9em;
        height: 0.9em;
        background-color: lightgrey;
        border-radius: 50%;
        z-index: 1;
}

/*Experience Timeline-Divider*/
.exp-timeline-divider{
      position: absolute;
      top: 10%;
      left: 58%;
      border: 1px dashed #0096fa6b;
      width: 0;
      height: 70%;
}

.exp-timeline-divider .timeline-traveller {
        position: sticky;
        top: 135px;
        z-index: 2;
}

.exp-timeline-divider i {
        transform: rotate(90deg);
        margin-top: -35px;
        display: block;
        color: #2857a4;
        font-size: 2rem;
}
